:root {
  --primary: #194a8d;
  --accent: #8F3985;
  --white: #ffffff;
  --text: #212121;
  --gray: #f5f5f5;
  --shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  --radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--gray);
  color: var(--text);
}
